repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-ast
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: name-tests-test
    args:
      - --pytest-test-first
  - id: trailing-whitespace
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.9.1
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages:
        - post-commit
        - push
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.1
  hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
      args: ["--line-length", "100"]
