services:
  server:
    build: .
    container_name: lenzr_server
    restart: unless-stopped
    ports:
      - "8000:8000"
    networks:
      - internal
    security_opt:
      - no-new-privileges:true
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db

  db:
    image: postgres:18.0-alpine3.22
    container_name: lenzr_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
    networks:
      - internal
    security_opt:
      - no-new-privileges:true
      - postgres_data:/var/lib/postgresql/18/docker

networks:
  internal:

volumes:
  postgres_data:
